<div>
  <div>
    <h2>Foundation Regrets</h2>
    <ul>
      <li>I wish I had taken care of my health this week by</li>
      <li>I wish I had advanced my career this week by</li>
      <li>I wish i had increased my savings this week by</li>
    </ul>
  </div>
  <div>
    <h2>Boldness Regrets</h2>
    <ul>
      <li>I wish I had tried</li>
      <li>I wish I had started</li>
      <li>I wish I had asked</li>
    </ul>
  </div>
  <div>
    <h2>Moral Regrets</h2>
    <ul>
      <li>I wish I'd remained loyal to</li>
      <li>I wish Id been kinder to</li>
      <li>I wish I had stood up for</li>
    </ul>
  </div>
  <div>
    <h2>Connection Regrets</h2>
    <ul>
      <li>I wish I had reached out to</li>
      <li>I wish I had forgiven</li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
