<div>
  <div>
    <h2>Foundation Regrets</h2>
    <ul>
      <li>I wish I had taken care of my health this week by</li>
      <li>I wish I had advanced my career this week by</li>
      <li>I wish i had increased my savings this week by</li>
    </ul>
  </div>
  <div>
    <h2>Boldness Regrets</h2>
    <ul>
      <li>I wish I had tried</li>
      <li>I wish I had started</li>
      <li>I wish I had asked</li>
    </ul>
  </div>
  <div>
    <h2>Moral Regrets</h2>
  </div>
  <div>
    Connection Regrets
  </div>
</div>
<router-outlet></router-outlet>
